<div class="container mt-2">
    <h1 class="text-center">Check your nearest vaccination center and slots availability</h1>
    <div class="row">
        <div class="col-12 text-center">
            <div class="d-flex flex-md-row flex-column">
                <button type="button" class="btn btn-secondary w-md-50 w-100 mt-1" (click)="pinSelected()"
                    [class.bg-primary]="changingBackGroundForPin" routerLink="/search/pin">Search By PIN</button>
                <button type="button" class="btn btn-secondary w-md-50 w-100 mt-1 ml-md-1 ml-0" (click)="districtSelected()"
                    [class.bg-primary]="changingBackGroundForDist" routerLink="/search/districts">Search By District</button>
            </div>
        </div>
    </div>
<router-outlet></router-outlet>