<div class="onlyBg" style="background-color: rgb(227, 233, 236);">
    <div class="container pt-2">
        <h1 class="text-center">Helpline</h1>
        <div class="row">
            <div class="col-12 col-md-4 card2 mt-1">
                <div class="text-center card1 mt-2 border shadow p-2">
                    <div class="padder pt-2"></div>
                    <h4 style="font-size: 25px;">No</h4>
                    <h4 class="font-weight-bold text-dark">8008704548</h4>
                </div>
            </div>
            <div class="col-12 col-md-4 card2 mt-1 ">
                <div class="text-center  card1 mt-2 border shadow p-2">
                    <div class="padder pt-2"></div>
                    <h4 style="font-size: 25px;">Health Ministry</h4>
                    <h4 class="font-weight-bold text-dark">1075</h4>
                </div>
            </div>
            <div class="col-12 col-md-4 card2 mt-1 ">
                <div class="text-center card1 mt-2 border shadow p-2">
                    <div class="padder pt-2"></div>
                    <h4 style="font-size: 25px;">Mental Health Check up</h4>
                    <h4 class="font-weight-bold text-dark">08046110007</h4>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">
        <div class="row">
            <div class="col-12">
                <div class="animation">
                    <h1 class="text-dark text-center pt-2 ">IT'S UPTO YOU</h1>
                    <h2 class="text-center">Covid-19 Vaccination</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container p-4 mb-3 " style=" max-width: 1000px;">
        <div class="row">
            <div class="col-12 ">
                <div class="">
                    <h1 class="text-white text-center pb-1" style="font-size: 40px;">Looking For Vaccination </h1>
                    <div class="center d-flex justify-content-center align-content-center ">
                        <button class="btn btn-outline-info animation2" routerLink="/search">Check Here</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="container pb-4 ">
        <div class="d-flex justify-content-center allign-items-center">
            <ngb-carousel *ngIf="images" style="max-width: 500px; background-color: transparent;">
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper text-center">
                        <img src="https://www.oie.int/app/uploads/2021/04/microsoftteams-image-1.jpeg"
                            alt="Random first slide" class="img-fluid mx-auto" style="width: auto;height: auto;">
                    </div>
                    <div class="carousel-caption">
                        <h1>“It’s going to disappear. One day, it’s like a miracle, it will disappear”</h1>
                        <h3>---Donald Trump</h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="https://www.techrepublic.com/a/hub/i/r/2020/07/01/b8f32025-473f-4865-a2a2-ac5ae4ebc8b7/resize/1200x/463b276e7d4dd12c9fd09a846715e03f/istock-1214212730.jpg"
                            alt="Random first slide" height="200px" class="img-fluid mx-auto">
                    </div>
                    <div class="carousel-caption">
                        <h1>"All countries need to review their strategies now"</h1>
                        <h3>---Dr. Michael J. Ryan, WHO Informal Advisory Group member</h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSFkOdSp3kbu4g60m9ZdKKVagZk6L06d0qEPg&usqp=CAU"
                            alt="Random first slide" class="img-fluid mx-auto">
                    </div>
                    <div class="carousel-caption">
                        <!-- <h1>Epidemics are a stress test for a system....the issue is how much resilience is built into those systems. Our hospital systems are designed to deliver at 99% efficiency. There's no space for them to deliver anymore</h1> -->
                        <h1>"The secret of change is to focus all of your energy, not on fighting the old, but on
                            building the new.”</h1>
                        <h3>Dr. Michael J. Ryan, WHO Informal Advisory Group</h3>
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <div class="picsum-img-wrapper">
                        <img src="https://www.constructionexec.com/assets/site_18/images/article/032520043618.jpg?width=1280"
                            alt="Random first slide" class="img-fluid mx-auto">
                    </div>
                    <div class="carousel-caption text-dark">
                        <!-- <h1>Epidemics are a stress test for a system....the issue is how much resilience is built into those systems. Our hospital systems are designed to deliver at 99% efficiency. There's no space for them to deliver anymore</h1> -->
                        <h1>"Ultimately, the greatest lesson that COVID-19 can teach humanity is that we are all in this
                            together."</h1>
                        <h3>Kiran Mazumdar-Shaw</h3>
                    </div>
                </ng-template>
            </ngb-carousel>
        </div>
    </div>
</div>